# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env 
.venv/
data/
checkpoints/

*safetensors 
.cache/

# Dataset logs (optionnel)
data/dataset.jsonl

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/